.ant-form{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 38%;
}
.ant-form-item-control{
    width: 300px;
}
#components-form-demo-normal-login .login-form {
    max-width: 300px;
}
#components-form-demo-normal-login .login-form-button {
    width: 100%;
}